<div class="dropdownac-ac">                    
    <input id='ds-autocomplete-dir' type="search" class="input-class input-producto autocomplete" 
    placeholder="{{placeholder}}" data-ng-model="modelo[campo]" ng-keydown="checkKeyDown($event)" ng-keyup="checkKeyUp($event)" ng-change="buscar()" autocomplete='off'>
    <ul class="dropdownac-content">
        <li ng-repeat="resultado in resultados track by $index" ng-class="{active : selected === $index}" ng-click="AssignValueAndHide($index)" ng-mouseover="mouseOver($index)">{{resultado[campo]}}</li>
    </ul>
</div>