<div class="toolbar toolbar-fixed toolbar-sitio">
    <div class="toolbar-contenido">
      <div class="toolbar-brand">
          <a href="#/"><img src="assets/images/logotipo.png" width="95"/></a>
      </div>
      <ul class="toolbar-toggle-container float-left">
          <li class="toolbar-toogle-header">
              <ul class="toolbar-tools" >
                  <li class="icon-left toolbar-toggle"> 
                    <a class="toolbar-toggle-action" data-target="#toolbar-toggler">
                        <i class="fa fa-bars"></i>
                        Menu
                    </a>
                  </li>
              </ul>   
          </li>
          <li class="toolbar-toggle-content">
              <ul class="toolbar-tools toolbar-tools-left dropdown-content" id="toolbar-toggler">
                <li ng-hide="!enArray('comedor',secciones)" tooltip="Comedor" ng-class="esActivo('/comedor')" > 
                    <a href="#/comedor">
                        <i class="fa fa-cutlery"></i>
                        <span>Comedor</span>
                    </a>
                </li>
                <li ng-hide="!enArray('cocina',secciones)" tooltip="Cocina" ng-class="esActivo('/cocina')" >
                    <a href="#/cocina">
                        <i class="fa fa-fire"></i>
                        <span>Cocina</span>
                    </a>
                </li>        
                <li ng-hide="!enArray('productos',secciones)" tooltip="Productos" ng-class="esActivo('/productos')" >
                    <a href="#/productos">
                        <i class="fa fa-coffee"></i>
                        <span>Productos</span>
                    </a>
                </li>
                <li ng-hide="!enArray('suministros',secciones)" tooltip="Suministros "ng-class="esActivo('/suministros')" >
                    <a href="#/suministros">
                        <i class="fa fa-lemon-o"></i>
                        <span>Suministros</span>
                    </a>
                </li>
                <li ng-hide="!enArray('informes',secciones)" tooltip="Informes" ng-class="esActivo('/informes')" >
                    <a ui-sref="informes.ventas">
                        <i class="fa fa-bar-chart"></i>
                        <span>Informes</span>
                    </a>
                </li>
                <li ng-hide="!enArray('usuarios',secciones)" tooltip="Usuarios" ng-class="esActivo('/usuarios')" >
                    <a href="#/usuarios">
                        <i class="fa fa-users"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li ng-hide="!enArray('ajustes',secciones)" tooltip="Ajustes" >
                    <a href="#/ajustes.html">
                        <i class="fa fa-wrench"></i>
                        <span>Ajustes</span>
                    </a>
                </li>
              </ul>
          </li>
      </ul>      
      <ul class="toolbar-tools toolbar-tools-right">
        <!--<li class="dropdown">
            <a class="dropdown-toggle hide-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell"></i><span class="indicador">1</span>
            </a>
            <ul class = "dropdown-menu alert-dropdown-menu" role = "menu">
              <li><a href = "#"><i class="fa fa-exchange float-left"></i>&nbsp;&nbsp;Nuevo pedido</a></li>
              <li><a href = "#"><i class="fa fa-exchange float-left"></i>&nbsp;&nbsp;Nuevo pedido</a></li>
           </ul>
        </li>-->
        <!--<li class="dropdown">
          <a class="dropdown-toggle"> {{usuario.Nombre }} {{usuario.Apellidos}} <span class="caret"></span></a>
          <ul class="dropdown-content">
                <li><a href="#">Cambiar Datos</a></li>
                <hr>
                <li><a href="#/logout">Cerrar sesión</a></li>
          </ul>
        </li>        -->
        <li class="dropdown">
            <a class="dropdown-toggle pull-right" data-toggle="dropdown">
            {{usuario.Nombre.split(" ",2)[0]}} {{usuario.Apellidos.split(" ",2)[0]}} <span class="caret"></span></a>
            <ul class = "dropdown-menu dropdown-menu-right" role = "menu">
              <li><a href = "#/perfil"><i class="fa fa-exchange float-left"></i>&nbsp;&nbsp;Cambiar datos</a></li>
              <li class = "divider"></li>
              <li><a href = "#/logout"><i class="fa fa-sign-out float-left"></i>&nbsp;&nbsp;Cerrar sesión</a></li>
           </ul>
        </li>
      </ul>
      <!--<ul class="toolbar-tools toolbar-tools-left dropdown-content" id="toolbar-target">
        <li tooltip="Comedor" ng-class="esActivo('/comedor')" > 
            <a href="#/comedor">
                <i class="fa fa-cutlery"></i>
                <span>Comedor</span>
            </a>
        </li>
        <li tooltip="Cocina" ng-class="esActivo('/cocina')" >
            <a href="#/cocina">
                <i class="fa fa-fire"></i>
                <span>Cocina</span>
            </a>
        </li>        
        <li tooltip="Productos" ng-class="esActivo('/productos')" >
            <a href="#/productos">
                <i class="fa fa-coffee"></i>
                <span>Productos</span>
            </a>
        </li>
        <li tooltip="Suministros "ng-class="esActivo('/suministros')" >
            <a href="#/suministros">
                <i class="fa fa-lemon-o"></i>
                <span>Suministros</span>
            </a>
        </li>
        <li tooltip="Informes" ng-class="esActivo('/informes')" >
            <a href="#/informes">
                <i class="fa fa-bar-chart"></i>
                <span>Informes</span>
            </a>
        </li>
        <li tooltip="Usuarios" ng-class="esActivo('/usuarios')" >
            <a href="#/usuarios">
                <i class="fa fa-users"></i>
                <span>Usuarios</span>
            </a>
        </li>
        <li tooltip="Ajustes" >
            <a href="#/ajustes.html">
                <i class="fa fa-wrench"></i>
                <span>Ajustes</span>
            </a>
        </li>
      </ul>
      <ul class="toolbar-tools toolbar-tools-right">
        <li tooltip="Alertas" class="dropdown hide-sm">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell"></i><span class="indicador">1</span>
            </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle"> {{usuario.Nombre }} {{usuario.Apellidos}} <span class="caret"></span></a>
          <ul class="dropdown-content">
                <li><a href="#">Cambiar Datos</a></li>
                <hr>
                <li><a href="#/logout">Cerrar sesión</a></li>
          </ul>
        </li>        
      </ul>-->
    </div>
</div>
<script>
$(function(){  
    $('.dropdown-content').css({display:'none'});
});
</script>