<div class="page-wrapper layout-row">   
    <div class="md-body layout-column detalles-usuarios">
          <div class="md-contenido  seccion-perfil">  
              <form class="layout-column form-datos layout-5w">
                    <div ng-class="'alerta-box '+mensaje.tipo" ng-show="mensaje">
                       <div class="icono">
                           <i class="fa fa-exclamation"></i>
                       </div>
                       <p class="contenido">
                            {{mensaje.contenido}}
                        </p>                    
                        <button ng-click="mensaje = null" class="cerrar-btn boton-class"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <labe>Usuario</labe>
                    <input name="user" type="text" class="input-class" ng-model="Usuario" required/>
                    <labe>Nombre</labe>
                    <input name="nombre" type="text" class="input-class" ng-model="Nombre" required/>            
                    <labe>Apellidos</labe>
                    <input name="apellidos" type="text" class="input-class" ng-model="Apellidos" required/>
                    <label>
                        <input type="checkbox" value="true" name="recordar" ng-model="cambiar"> Cambiar Contraseña
                    </label>
                    <div ng-show="cambiar">                        
                        <labe>Contraseña anterior</labe>
                        <input name="password" type="password" class="input-class" ng-model="Contrasenia" autocomplete="off"/>
                        <labe>Contraseña nueva</labe>
                        <input name="newpassword" type="password" class="input-class" ng-model="newContrasenia" autocomplete="off"/>
                        <labe>Repita la contraseña nueva</labe>
                        <input name="passwordr" type="password" class="input-class" ng-model="Contraseniar" autocomplete="off"/>
                    </div>
                    <div class="side-box-botones">
                        <button type="submit" class="boton-class boton-pedido" ng-click="guardar()">Guardar</button>
                    </div>
            </form>
          </div>
    </div>
</div>
<script src="assets/app/js/page-wrapper.js" type="text/javascript"></script>
<script src="assets/app/js/bottom-box.js" type="text/javascript"></script>