<div class="page-wrapper layout-row">
    <div class="md-sidenav sidenav sidenav-cocina layout-column">
            <div class="toolbar sidenav-titulo">
                <div class="toolbar-contenido">
                    <div class="toolbar-brand">
                        <a class="centrado"><strong>Resumen</strong></a>
                    </div>
                </div>
            </div>
            <div class="sidenav-contenido">
                <ul class="seccion-resumen">
                    <li data-ng-repeat="item in Resumen" class="item-resumen">
                        <label>Producto: <span class="nombre">{{item.Producto}}</span></label>
                        <label>Cantidad: <span>{{item.Cantidad}}</span></label>
                    </li>
                </ul>
            </div>
    </div>
    <div class="md-body layout-column">
        <div class="md-contenido cp-pedidos">
            <div class="item-pedido" data-ng-repeat="Pedido in pedidos">
                <!--<div class="indicador indicador-boton">{{Mesa.Comensales}}</div>-->
                <div class="item-pedido-titulo">
                    <h4>Pedido {{Pedido.Pedido_id}}</h4>
                </div>
                <div class="contenido">
                    <table class="tabla-class" style="margin:0;">
                       <thead>
                           <tr>
                               <th>Producto</th>
                               <th>Cantidad</th>
                               <th>Confirmar</th>
                           </tr>
                       </thead>
                       <tbody data-ng-repeat="detalle in Pedido.Pedidos">
                         <tr >
                          <td ng-if="detalle.EstadoDetalle_id  == 1" colspan="3" class="en-espera disable-select" ng-click="cambiarEstado(detalle.Detalle_id,2)" align="center">{{detalle.Nombre}}</td>
                          <td ng-if="detalle.EstadoDetalle_id  != 1">{{detalle.Nombre}}</td>
                          <td ng-if="detalle.EstadoDetalle_id  != 1" align="center">{{detalle.Cantidad}}</td>
                          <td ng-if="detalle.EstadoDetalle_id  != 1" align="center" rowspan="2"><button ng-click="cambiarEstado(detalle.Detalle_id,3)" class="boton-class"><i class="fa fa-check"></i></button></td>
                          
                          <!--ng-click="cambiarEstado(Pedido.Detalle_id)"-->
                        </tr>
                        <tr ng-if="detalle.Comentario && detalle.EstadoDetalle_id  != 1">
                           <td class="detalle-comentario" colspan="3">
                               {{detalle.Comentario}}
                           </td>
                        </tr>
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/app/js/page-wrapper.js" type="text/javascript"></script>
<script src="assets/app/js/bottom-box.js" type="text/javascript"></script>
    
    