<div class="side-box-body side-box-content-right" id="side-box">
    <form class="md-body layout-column" name="form-np">
        <div class="toolbar toolbar-nuevo side-box-header">
            <div class="toolbar-contenido">
                <div class="toolbar-brand">
                    <a ng-show="!id" class="centrado"><strong>Crear Usuario</strong></a>
                    <a ng-show="id" class="centrado"><strong>Modificar Usuario</strong></a>
                </div>
                <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                    <li><button type="submit" class="boton-class" data-ng-click="guardar()"><i class="fa fa-floppy-o"></i></button>
                    </li>
                    <li tooltip="Cerrar" tooltip-lado="izquierda"><a href="#/usuarios" class="boton-class"><i class="fa fa-times"></i></a>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="side-box-detalles">
            <labe>Usuario</labe>
            <input type="text" class="input-class" ng-model="Usuario" required/>
            <labe>Nombre</labe>
            <input type="text" class="input-class" ng-model="Nombre" required/>            
            <labe>Apellidos</labe>
            <input type="text" class="input-class" ng-model="Apellidos" required/>
            <labe ng-show="!id">Contraseña*</labe>
            <input ng-show="!id" type="text" class="input-class" ng-model="Contrasenia" required/>
            <labe>Rol</labe>
            <select ng-model="Rol_id" class="input-class">
                <option ng-repeat="rol in Roles" value="{{rol.Rol_id}}">
                    {{rol.Nombre}}
                </option>              
            </select>
            <div class="side-box-botones">
                <button type="submit" class="boton-class boton-pedido" data-ng-click="guardar()">Guardar</button>                   
                <button type="button" class="boton-class boton-pedido" data-ng-click="cerrar()">Salir</button>                   
            </div>
            <span ng-show="!id">*La contraseña generada en este formulario<br>puede ser modificada posteriormente<br> desde el perfil del usuario</span>
        </div>
    </form>
</div>