<div class="page-wrapper layout-row">   
    <div class="md-body layout-column detalles-usuarios">
          <div class="md-contenido content-usuarios">  
              <a href="#/usuarios/accion/usuario" tooltip="Nuevo Usuario" class="boton-class boton-accion-nuevo"><i class="fa fa-plus"></i></a>
              <div class="md-body-content padding-2em">
                  <table class="tabla-class layout-9-5w disable-select tabla-clickeable">
                    <thead>
                        <tr>
                          <th class="layout-1w">#</th>
                          <th class="layout-1w">Usuario&nbsp;</th>
                          <th class="layout-2w">Nombre&nbsp;</th>
                          <th class="layout-2w">Apellidos</th>
                          <th class="layout-2w">Rol</th>
                          <th class="layout-2w"></th>
                        </tr>                        
                        <tr>
                            <td></td>
                            <td align="center" colspan="4">
                               <input ng-model="filtro_Usuario" type="search" class="input-class"/>
                            </td>                            
                            <td>
                                
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr ng-repeat="usuario in usuarios | filter:filtro_Usuario">
                            <td align="center">
                                {{($index+1)}}
                            </td>
                            <td align="center">
                               {{usuario.Usuario}}
                            </td>
                            <td align="center">
                               {{usuario.Nombre}}
                            </td>
                            <td align="center">
                               {{usuario.Apellidos}}
                            </td>
                            <td align="center">
                               {{usuario.Rol}}
                            </td>
                            <td align="center">
                                <button type="button" class="boton-class" ng-click="eliminar(1,usuario.Usuario_id)"><i class="fa fa-trash-o"></i></button>
                                <a href="#/usuarios/accion/usuario?id={{usuario.Usuario_id}}" class="boton-class"><i class="fa fa-pencil-square-o"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
              </div>              
          </div>
          <div class="md-contenido side-box" ui-view data-ng-show="getMostrar()"></div>
    </div>
</div>
<script src="assets/app/js/page-wrapper.js" type="text/javascript"></script>
<script src="assets/app/js/bottom-box.js" type="text/javascript"></script>