<div class="side-box-body side-box-content-right" id="side-box">
    <form class="md-body layout-column" name="form-np">
        <div class="toolbar toolbar-nuevo side-box-header">
            <div class="toolbar-contenido">
                <div class="toolbar-brand">
                    <a ng-show="!id" class="centrado"><strong>Nuevo Producto</strong></a>
                    <a ng-show="id" class="centrado"><strong>Modificar Producto</strong></a>
                </div>
                <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                    <li><button type="submit" class="boton-class" data-ng-click="guardar()"><i class="fa fa-floppy-o"></i></button>
                    </li>
                    <li tooltip="Cerrar" tooltip-lado="izquierda"><a href="#/productos" class="boton-class"><i class="fa fa-times"></i></a>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="side-box-detalles">
            <labe>Nombre</labe>
            <input type="text" class="input-class" ng-model="Nombre" required/>            
            <labe>Precio</labe>
            <input type="text" class="input-class" ng-model="Precio" required/>            
            <labe>Categoria</labe>
            <select ng-model="Categoria_id" class="input-class">
                <option value="0">-Seleccione una categoría-</option>
                <option ng-repeat="categoria in Categorias" value="{{categoria.Categoria_id}}">
                    {{categoria.Nombre}}
                </option>              
            </select>
            <div class="side-box-botones">
                <button type="submit" class="boton-class boton-pedido" data-ng-click="guardar()">Guardar</button>                   
                <button type="button" class="boton-class boton-pedido" data-ng-click="cerrar()">Salir</button>                   
            </div>
        </div>
    </form>
</div>