<div class="page-wrapper layout-row">   
    <div class="md-body layout-column detalles-productos">
          <div class="toolbar toolbar-tabs">
            <ul class="tabs">
                <li class="tab-link" data-ng-class="{'actual': (!ruta)}"  data-tab="tab-productos"><a href="#/productos">Productos</a></li>
                <li class="tab-link" data-ng-class="{'actual': (ruta == 'categorias')}" data-tab="tab-categorias"><a href="#/productos?ruta=categorias">Categorias</a></li>
            </ul>
          </div>
          <div class="md-contenido content-productos">  
              <!--<a href="#/productos/nuevo/producto" tooltip="Nuevo Producto" class="boton-class boton-accion-nuevo"><i class="fa fa-plus"></i></a>-->
              <li class="dropdown boton-accion-nuevo">
                <a class="dropdown-toggle pull-right" data-toggle="dropdown">
                <i class="fa fa-plus"></i></a>
                <ul class = "dropdown-menu dropdown-menu-right" role = "menu">
                  <li><a href="#/productos/accion/producto">Nuevo Producto</a></li>
                  <li><a href="#/productos/accion/categoria">Nueva Categoria</a></li>
               </ul>
             </li>
              <div id="tab-productos" data-ng-class="{'actual': (!ruta)}" class="tab-content md-body-content">
                  <dspaginador class="paginador" pagina="pagina" paginas="paginas"></dspaginador>
                  <table class="tabla-class layout-9-5w disable-select tabla-clickeable">
                    <thead>
                        <tr>
                          <th class="layout-1w">#</th>
                          <th class="layout-3w" ng-click="orderByitem='Nombre';reverse = !reverse">Producto&nbsp;
                              <i class="fa fa-sort" ng-if="orderByitem != 'Nombre'"></i>
                              <i class="fa fa-sort-desc" ng-if="reverse == true && orderByitem == 'Nombre'"></i>
                              <i class="fa fa-sort-asc" ng-if="reverse == false && orderByitem == 'Nombre'"></i>
                          </th>
                          <th class="layout-2w" ng-click="orderByitem='Precio';reverse = !reverse">Precio&nbsp;
                              <i class="fa fa-sort" ng-if="orderByitem != 'Precio'"></i>
                              <i class="fa fa-sort-desc" ng-if="reverse == true && orderByitem == 'Precio'"></i>
                              <i class="fa fa-sort-asc" ng-if="reverse == false && orderByitem == 'Precio'"></i>
                          </th>
                          <th class="layout-2w" ng-click="orderByitem='Categoria';reverse = !reverse">Categoria&nbsp;
                              <i class="fa fa-sort" ng-if="orderByitem != 'Categoria'"></i>
                              <i class="fa fa-sort-desc" ng-if="reverse == true && orderByitem == 'Categoria'"></i>
                              <i class="fa fa-sort-asc" ng-if="reverse == false && orderByitem == 'Categoria'"></i>
                          </th>
                          <th class="layout-2w">
                              
                          </th>
                        </tr>                        
                        <tr>
                            <td align="center" colspan="2">
                               <input ng-model="filtro_nombre" type="search" class="input-class"/>
                            </td>
                            <td align="center">
                               <input ng-model="filtro_precio" type="search" class="input-class"/>
                            </td>
                            <td align="center">
                                <select ng-model="filtro_categoria" class="input-class">
                                    <option value="0">--Categoría--</option>
                                    <option ng-repeat="categoria in categorias" value="{{categoria.Categoria_id}}">
                                        {{categoria.Nombre}}
                                    </option>              
                                </select>
                            </td>
                            <td align="center">
                                <button ng-click="setFiltros()" type="button" class="boton-class boton-gris">Buscar</button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr ng-repeat="producto in productos">
                            <td align="center">
                                {{($index+1)+(itemXpag*(pagina-1))}}
                            </td>
                            <td>
                               {{producto.Nombre}}
                            </td>
                            <td align="center">
                               {{producto.Precio}}
                            </td>
                            <td align="center">
                               {{producto.Categoria}}
                            </td>
                            <td align="center">
                                <button type="button" class="boton-class" ng-click="eliminar(1,producto.Producto_id)"><i class="fa fa-trash-o"></i></button>
                                <a href="#/productos/accion/producto?id={{producto.Producto_id}}" class="boton-class"><i class="fa fa-pencil-square-o"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <dspaginador class="paginador" pagina="pagina" paginas="paginas"></dspaginador>
              </div>
              <div id="tab-categorias" data-ng-class="{'actual': (ruta == 'categorias')}" class="tab-content md-body-content">
                  <table class="tabla-class layout-9-5w disable-select tabla-clickeable">
                    <thead>
                        <tr>
                          <th class="layout-1w">#</th>
                          <th class="layout-3w" ng-click="orderByitemC='Nombre';reverseC = !reverseC">Categoria&nbsp;
                              <i class="fa fa-sort" ng-if="orderByitemC != 'Nombre'"></i>
                              <i class="fa fa-sort-desc" ng-if="reverseC == true && orderByitemC == 'Nombre'"></i>
                              <i class="fa fa-sort-asc" ng-if="reverseC == false && orderByitemC == 'Nombre'"></i>
                          </th>
                          <th class="layout-3w" ng-click="orderByitemC='Padre';reverseC = !reverseC">Categoria Padre&nbsp;
                              <i class="fa fa-sort" ng-if="orderByitemC != 'Padre'"></i>
                              <i class="fa fa-sort-desc" ng-if="reverseC == true && orderByitemC == 'Padre'"></i>
                              <i class="fa fa-sort-asc" ng-if="reverseC == false && orderByitemC == 'Padre'"></i>
                          </th>
                          <th class="layout-2w"></th>
                        </tr>                        
                        <tr>
                            <td></td>
                            <td align="center" colspan="2">
                               <input ng-model="filtro_Categoria" type="search" class="input-class"/>
                            </td>                            
                            <td>
                                
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <!--<tr ng-repeat="producto in productos | orderBy:orderByitem:reverse">-->
                        <tr ng-repeat="categoria in categorias | filter:filtro_Categoria | orderBy:orderByitemC:reverseC">
                            <td align="center">
                                {{($index+1)+(itemXpag*(pagina-1))}}
                            </td>
                            <td>
                               {{categoria.Nombre}}
                            </td>
                            <td align="center">
                               {{categoria.Padre}}
                            </td>                            
                            <td align="center" colspan="2">
                               <button type="button" class="boton-class" ng-click="eliminar(2,categoria.Categoria_id)"><i class="fa fa-trash-o"></i></button>
                               <a href="#/productos/accion/categoria?id={{categoria.Categoria_id}}" class="boton-class"><i class="fa fa-pencil-square-o"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
              </div>
          </div>
          <div class="md-contenido side-box" ui-view data-ng-show="getMostrar()"></div>
    </div>
</div>
<script src="assets/app/js/page-wrapper.js" type="text/javascript"></script>
<script src="assets/app/js/bottom-box.js" type="text/javascript"></script>