<div class="side-box-body side-box-content-right" id="side-box">
    <form class="md-body layout-column" name="form-np">
        <div class="toolbar toolbar-nuevo side-box-header">
            <div class="toolbar-contenido">
                <div class="toolbar-brand">
                    <a ng-show="!id" class="centrado"><strong>Nuevo Categoria</strong></a>
                    <a ng-show="id" class="centrado"><strong>Modificar Categoria</strong></a>
                </div>
                <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                    <li><button type="submit" class="boton-class" data-ng-click="guardarCategoria(NombreCategoria, Padre_id)"><i class="fa fa-floppy-o"></i></button>
                    </li>
                    <li tooltip="Cerrar" tooltip-lado="izquierda"><a href="#/productos" class="boton-class"><i class="fa fa-times"></i></a>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="side-box-detalles">
            <labe>Nombre</labe>
            <input type="text" class="input-class" ng-model="NombreCategoria" required/>            
            <labe>Categoría padre</labe>
            <select ng-model="Padre_id" class="input-class">
                <option value="">-Seleccione una categoría-</option>
                <option ng-repeat="categoria in Categorias_top" value="{{categoria.Categoria_id}}">
                    {{categoria.Nombre}}
                </option>              
            </select>
            <div class="side-box-botones">
                <button type="submit" class="boton-class boton-pedido" data-ng-click="guardarCategoria(NombreCategoria, Padre_id)">Guardar</button>                   
                <button type="button" class="boton-class boton-pedido" data-ng-click="cerrar()">Salir</button>                   
            </div>
        </div>
    </form>
</div>