<form class="md-body layout-column" name="formdp">
        <div class="toolbar dp-header" data-ng-class="{'activo': (Mesa.EstadoPedido == 1)}">
            <div class="toolbar-contenido">
                <div class="toolbar-brand">
                    <a class="centrado"><strong>{{Mesa.Nombre}}</strong></a>
                </div>
                <ul class="toolbar-tools toolbar-tools-left toolbar-btn">
                    <li class="dropdown">
                        <a class="dropdown-toggle pull-right boton-class" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
                        <ul class = "dropdown-menu" role = "menu">
                          <li ng-click="cobroTotal()" ng-show="Mesa.EstadoPedido == 1 && entregados > 0 && entregados == pedido.Pedidos.length"><a><i class="fa fa-money float-left"></i>&nbsp;&nbsp;Cobro Total</a></li>
                          <li ng-click="cobroParcial()" ng-show="Mesa.EstadoPedido == 1 && entregados > 0"><a><i class="fa fa-money float-left"></i>&nbsp;&nbsp;Cobro Parcial</a></li>
                          <li ng-show="Mesa.EstadoPedido == 1" ng-click="cambiarMesa()"><a><i class="fa fa-random float-left"></i>&nbsp;&nbsp;Cambiar Mesa</a></li>
                          <!--<li ng-show="Mesa.EstadoPedido == 1" class = "divider"></li>-->
                          <li ng-show="!Mesa.EstadoPedido"><a ng-click="eliminarMesa()"><i class="fa fa-trash-o float-left"></i>&nbsp;&nbsp;Eliminar Mesa</a></li>
                       </ul>
                    </li>
                </ul>
                <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                    <li class="hide-xs"><a href=""><strong>Comensales:</strong></a></li>
                    <li class="w4em" tooltip="Comensales"> <input ng-model="data_comensales" ng-change="cambiarComensales(data_comensales)" type="number" class="input-class" min="1"></li>
                    <li tooltip="Confirmar"><button ng-disabled="formdp.$invalid || ((pedido.Pedidos)? (pedido.Pedidos.length <= 0):true)" class="boton-class" ng-click="confirmarPedido()"><i class="fa fa-check"></i></button>
                    </li>
                    <li tooltip="Cerrar" tooltip-lado="izquierda"><a href="#/comedor" class="boton-class"><i class="fa fa-times"></i></a>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="dp-contenido">
            <div class="dp-contenido-controles">
                <div class="form-class">
                    <dsautocomplete placeholder="Escriba el nombre del producto" modelo="data_producto" array="productos" campo="Nombre"></dsautocomplete>
                    <!--<dsautocomplete placeholder="dsauto" modelo="data_producto.Nombre"></dsautocomplete>-->
                   <input data-ng-model="data_cantidad" type="number" class="input-class" placeholder="Cantidad" min="1" value="1">
                   
                   <button data-ng-click="agregarPedido()" type="button" class="boton-class boton-pedido">Agregar</button>
                    <button type="button" class="boton-class boton-pedido" ng-click="buscarProducto()"><i class="fa fa-search"></i></button>                   
                </div>
            </div>
            <div class="layout-10w dp-detalles">
                <table class="tabla-class tabla-detalles layout-10w" style="margin:0;">
                    <thead>
                        <tr>
                          <th class="layout-6w" >Producto</th>
                          <th class="layout-1w" >Precio</th>
                          <th class="layout-1w" >Cantidad</th>
                          <th class="layout-1w" >Subtotal</th>
                          <th class="layout-1w" colspan="2">Acción</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr ng-repeat="pedido in pedido.Pedidos | filter:{EstadoDetalle_id: '!-1'} | orderBy:['+EstadoDetalle_id']:reverse" data-ng-class="{'preparando': (pedido.EstadoDetalle_id == 2 || pedido.EstadoDetalle_id == 3),'entregado': (pedido.EstadoDetalle_id == 4)}">
                            <td>
                               {{pedido.Producto}}
                            </td>
                            <td align="center">
                               {{pedido.Producto_precio}}
                            </td>
                            <td align="center">	
                                <span ng-show="EstadoDetalle_id != 4">{{pedido.Cantidad}}</span>
                                <span ng-show="EstadoDetalle_id == 4">{{pedido.noPagados}}</span>
                            </td>
                            <td align="center">
                                <span ng-show="pedido.Cantidad > 0">
                               {{pedido.Cantidad * pedido.Producto_precio}}
                               </span>
                            </td>                            
                            <td align="center">
                               <button ng-hide="(pedido.EstadoDetalle_id != 1)" type="button" class="boton-class" ng-click="comentar(pedido)"><i class="fa fa-comment-o"></i></button>
                            </td>
                            <td align="center">
                                <button ng-hide="(pedido.EstadoDetalle_id != 1)" data-ng-click="quitarPedido(pedido.Detalle_id)" type="button" class="boton-class"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                            
                    </tbody>
                </table>
            </div>
        </div>
    </form>

<script src="assets/app/js/bottom-box.js" type="text/javascript"></script>