<!--<form class="md-body layout-column" name="form-nm">
    <div class="toolbar">
        <div class="toolbar-contenido">
            <div class="toolbar-brand">
                <a class="centrado"><strong>Nueva Mesa</strong></a>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</form>-->
<div class="side-box-body side-box-content-right" id="side-box">
    <form class="md-body layout-column" name="form-nm">
        <div class="toolbar toolbar-nuevo side-box-header nm-header">
            <div class="toolbar-contenido">
                <div class="toolbar-brand">
                    <a class="centrado"><strong>Nueva Mesa</strong></a>
                </div>
                <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                    <li><button type="submit" class="boton-class" data-ng-click="guardar()"><i class="fa fa-floppy-o"></i></button>
                    </li>
                    <li tooltip="Cerrar" tooltip-lado="izquierda"><a href="#/comedor" class="boton-class"><i class="fa fa-times"></i></a>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="side-box-detalles">
            <labe>Nombre de la mesa: </labe>
            <input type="text" class="input-class" ng-model="Nombre" required/>            
            <div class="side-box-botones">
                <button type="submit" class="boton-class boton-pedido" data-ng-click="guardar()">Guardar</button>                   
                <button type="button" class="boton-class boton-pedido" data-ng-click="cerrar()">Salir</button>                   
            </div>
        </div>
    </form>
</div>