<div class="page-wrapper layout-row">   
    <div class="md-body layout-column detalles-productos">
          <div class="toolbar toolbar-tabs">
            <ul class="tabs">
                <li class="tab-link" ng-class="esActivo('/venta')"  data-tab="tab-productos"><a ui-sref="informes.ventas">Ventas</a></li>
                <li class="tab-link" ng-class="esActivo('/productos')"  data-tab="tab-productos"><a ui-sref="informes.productos">Productos</a></li>
                <li class="tab-link" ng-class="esActivo('/afluencia')"  data-tab="tab-productos"><a ui-sref="informes.afluencia">Afluencia</a></li>
            </ul>
          </div>
          <div class="md-contenido content-productos">  
             
              <!--<li class="dropdown boton-accion-nuevo">
                <a class="dropdown-toggle pull-right" data-toggle="dropdown">
                <i class="fa fa-external-link"></i></a>
                <ul class = "dropdown-menu dropdown-menu-right" role = "menu">
                  <li><a href="#/productos/accion/producto">Exportar a PDF</a></li>
                  <li><a href="#/productos/accion/categoria">Imprimir</a></li>
               </ul>
             </li>-->
             <div id="tab-productos" data-ng-class="{'actual': (!ruta)}" class="tab-content md-body-content">
                 <div ui-view></div>     
             </div>
              
          </div>
          <div class="md-contenido side-box" ui-view data-ng-show="getMostrar()"></div>
    </div>
</div>
<script src="assets/app/js/page-wrapper.js" type="text/javascript"></script>
<script src="assets/app/js/bottom-box.js" type="text/javascript"></script>