 
   <table class="tabla-class layout-9-5w disable-select tabla-clickeable">
        <thead>
            <tr>
              <th colspan="2">Metodo</th>
              <th colspan="2">Desde</th>
              <th colspan="2">Hasta</th>
              <th colspan="3">Buscar</th>
            </tr>            
            <tr>
                <td colspan="2">
                       <select ng-model="filtro_direccion" class="input-class">
                            <option value="0">Con más afluencia</option>
                            <option value="1">Con menos afluencia</option>
                        </select>
                </td>
                <td colspan="2" align="center">
                    <input class="input-class" ng-model="inicio" type="date" id="desde">
                </td>
                <td colspan="2" align="center">
                    <input class="input-class" ng-model="final" type="date" id="hasta">
                </td>
                <td colspan="3" align="center">
                    <button ng-click="getInformeAfluencias()" type="button" class="boton-class boton-gris">Buscar</button>
                </td>
            </tr>
            <tr>
              <th colspan="2">#</th>
              <th colspan="2">Fecha&nbsp;</th>
              <th colspan="2">Día&nbsp;</th>
              <th colspan="2">Hora&nbsp;</th>
              <th colspan="2">Comensales&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="afluencia in afluencias">
                <td colspan="2" align="center">
                    {{($index+1)+(itemXpag*(pagina-1))}}
                </td>
                <td colspan="2" align="center">
                   {{afluencia.Fecha}}
                </td>
                <td colspan="2" align="center">
                   {{getDia(afluencia.Dia)}}
                </td>
                <td colspan="2" align="center">
                   {{afluencia.Hora}}
                </td>
                <td colspan="2" align="center">
                   {{afluencia.Personas}}
                </td>
            </tr>
        </tbody>
    </table>
