 
   <table class="tabla-class layout-9-5w disable-select tabla-clickeable">
        <thead>
            <tr>
              <th colspan="2">Metodo</th>
              <th colspan="2">Desde</th>
              <th colspan="2">Hasta</th>
              <th colspan="1">Buscar</th>
            </tr>            
            <tr>
                <td colspan="2">
                       <select ng-model="filtro_direccion" class="input-class">
                            <option value="0">Más Consumidos</option>
                            <option value="1">Menos Consumidos</option>
                        </select>
                </td>
                <td colspan="2" align="center">
                    <input class="input-class" ng-model="inicio" type="date" id="desde">
                </td>
                <td colspan="2" align="center">
                    <input class="input-class" ng-model="final" type="date" id="hasta">
                </td>
                <td colspan="1" align="center">
                    <button ng-click="getInformeProductos()" type="button" class="boton-class boton-gris">Buscar</button>
                </td>
            </tr>
            <tr>
              <th colspan="1">#</th>
              <th colspan="2">Producto&nbsp;</th>
              <th colspan="2">Cantidad&nbsp;</th>
              <th colspan="2">Total Generado&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in productos">
                <td colspan="1" align="center">
                    {{($index+1)+(itemXpag*(pagina-1))}}
                </td>
                <td colspan="2" align="center">
                   {{producto.Nombre}}
                </td>
                <td colspan="2" align="center">
                   {{producto.Cantidad}}
                </td>
                <td colspan="2" align="center">
                   {{producto.Total}}
                </td>
            </tr>
        </tbody>
    </table>
