  <table class="tabla-class layout-9-5w disable-select tabla-clickeable">
    <thead>
        <tr>
          <th colspan="10" align="center">Venta - Oren #{{id}}  </th>
        </tr>            
        <tr>
            <td colspan="1" align="center">
                #
            </td>
            <td colspan="3" align="center">
                Producto
            </td>
            <td colspan="2" align="center">
                Cantidad
            </td>
            <td colspan="2" align="center">
                Cerrado por
            </td>
            <td colspan="2" align="center">
                Subtotal
            </td>
        </tr>
    </thead>
    <tbody ng-repeat="cobro in Venta">
        
        <tr>
            <td colspan="1" align="center">
                {{($index+1)}}
            </td>
            <td colspan="3" align="center">
               {{cobro.Producto}}
            </td>
            <td colspan="2" align="center">
               {{cobro.Cantidad}}
            </td>
            <td colspan="2" align="center">
               {{cobro.Usuario}}
            </td>
            <td colspan="2" align="center">
               {{cobro.Total}}
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td colspan="10" align="right" class="detalle-total">
                Total: {{getTotal()}}
            </td>
        </tr>
    </tbody>
</table>
