<div class="encabezado-pago">
    <label>Total vendido hasta la fecha: <span>{{totalFecha}}</span></label>
</div>
<table class="tabla-class layout-9-5w disable-select tabla-clickeable">
    <thead>
        <tr>
          <th colspan="2">Desde</th>
          <th colspan="2">Hasta</th>
          <th colspan="1">Buscar</th>
        </tr>            
        <tr>
            <td colspan="2" align="center">
                <input class="input-class" ng-model="inicio" type="date" id="desde">
            </td>
            <td colspan="2" align="center">
                <input class="input-class" ng-model="final" type="date" id="hasta">
            </td>
            <td colspan="1" align="center">
                <button ng-click="getInformeVentas()" type="button" class="boton-class boton-gris">Buscar</button>
            </td>
        </tr>
        <tr>
          <th colspan="1">#</th>
          <th colspan="2">Fecha&nbsp;</th>
          <th colspan="2">Total vendido&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="venta in ventas" ng-click="vetDetalle(1, venta.Fecha)">
            <td colspan="1" align="center">
                {{($index+1)+(itemXpag*(pagina-1))}}
            </td>
            <td colspan="2" align="center">
               {{venta.Fecha}}
            </td>
            <td colspan="2" align="center">
               {{venta.TOTAL}}
            </td>
        </tr>
        <tr>
            <td colspan="8" align="right" class="detalle-total">
                Total: {{totalVendido}}
            </td>
        </tr>
    </tbody>
</table>
