  <table class="tabla-class layout-9-5w disable-select tabla-clickeable">
    <thead>
        <tr>
          <th colspan="10" align="center">Ventas de la Fecha: {{fecha}}</th>
        </tr>            
        <tr>
            <td colspan="1" align="center">
                #
            </td>
            <td colspan="1" align="center">
                Orden #
            </td>
            <td colspan="2" align="center">
                Fecha
            </td>
            <td colspan="2" align="center">
                Hora
            </td>
            <td colspan="3" align="center">
                Abierto por
            </td>
            <td colspan="2" align="center">
                Total Vendido
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="venta in ventas" ng-click="vetDetalle(1, venta.Pedido_id)">
            <td colspan="1" align="center">
                {{($index+1)}}
            </td>
            <td colspan="1" align="center">
               {{venta.Pedido_id}}
            </td>
            <td colspan="2" align="center">
               {{venta.Fecha}}
            </td>
            <td colspan="2" align="center">
               {{venta.Hora}}
            </td>
            <td colspan="2" align="center">
               {{venta.Usuario}}
            </td>
            <td colspan="2" align="center">
               {{venta.TOTAL}}
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td colspan="10" align="right" class="detalle-total">
                Total: {{getTotal()}}
            </td>
        </tr>
    </tbody>
</table>
