.item-pedido
{
    display: inline; float: left;
    background: white !important;
    box-shadow: 0px 0px 2px rgb(60,60,60);
    margin: 0.8em;
    padding: 0px;
    height: 240px;
    width: 350px;
}
.item-pedido .item-pedido-titulo *
{   
    text-align: center;
    width: 100%;
    margin: 0px !important;
    padding-top: 0.7em;
    padding-bottom: 0.9em;
    background: #88dd77;
    color: white;
    /*margin: 0px;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    background: blue;
    height: 100%;*/
}
.item-pedido .item-pedido-titulo
{    
    position: relative;
    padding: 0px;
    margin: 0px !important;
    height: 20%;
}
.item-pedido .contenido
{    
    height: 80%;
    overflow-y: auto;    
    width: 100%;
    margin: 0px !important;
}
.item-pedido .tabla-class
{
    margin: 0px !important;
    width: 100%;
}

.sidenav-cocina
{
    width: auto !important;
}
.seccion-resumen .item-resumen{
    border-bottom: 1px solid rgba(150,150,150,0.5);
    margin: 0.4em;
    padding: 0.4em;
}
.seccion-resumen .item-resumen{
    background: none;
}
.seccion-resumen .item-resumen label{
    font-weight: 600;
    display: block;
    color: rgb(60,60,60) !important;
}
.seccion-resumen .item-resumen span{
    font-weight: 500;
    color: rgb(60,60,60) !important;
}
.seccion-resumen .item-resumen .nombre{
    display: block;
}