.md-body-comedor {
    position: relative;  
    z-index: 0;
}
.seccion-mesas{ 
    position: relative;  
    padding: 20px;
    background: rgb(249,249,249);
    height: 100%;
    overflow: auto;
}
.seccion-notificaciones{
    width: 23%;
    height: 100% !important;
    position: absolute;
    overflow-y: scroll;
}
.seccion-mesas .item-mesa : link, .item-mesa: active
{
    text-decoration: none !important;
}

.seccion-mesas .activo
{
    -webkit-box-shadow: 3px 3px 5px #bb0319 !important;
    -moz-box-shadow: 3px 3px 5px #bb0319 !important;
    box-shadow: 3px 3px 5px #bb0319 !important;
}
.item-mesa
{
    text-decoration: none !important;
    background: #88dd77;
    
    margin: 1em;
    text-align: center;
    vertical-align: middle;
    
    text-decoration: none;
    position: relative;
    display: inline-block;
    
    padding: 1em;
    height: 5em;
    width: 5.2em;
    
    color: white;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px #6cb65e;
    -moz-box-shadow: 3px 3px 5px #6cb65e;
    box-shadow: 3px 3px 5px #6cb65e;
    
    font-weight: bold;
}
.item-mesa:active, .item-mesa:hover, .item-mesa:link, .item-mesa:visited
{
    text-decoration: none;
    font-size: 1em;
    color: rgb(245,245,245);
    font-weight: bold;
}
.sidenav-comedor
{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.lista-noticia-orden
{
    list-style: none;
}
.noticia-orden
{
    margin: 2px 0 !important;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px; 
    display: flex;
    flex-direction: row;
}
.noticia-orden-detalles, .noticia-orden-acciones
{
    display: inline;
}
.noticia-orden-detalles
{
    width: 82%;
    color: white;
}
.noticia-orden-acciones
{
    margin: 2px;
    width: 3em;
    height:4.5em;
    outline: 1.5px solid rgb(60,60,60) !important;
    background: transparent;
    text-align: center;
    padding: 0px !important;
}
.dp-header
{
    background: #88dd77 !important;
    border-radius: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif !important;
    z-index: 9;
}

.dp-header .toolbar-btn > li > a, .dp-header .toolbar-btn > li > button
{ 
    width: 100% !important;
    padding: 0.8em !important;
}
.dp-contenido
{
    height: 100%;
    overflow: auto;
    padding: 1em;
}
.activo .toolbar-btn > li > a, .activo .toolbar-btn > li > button
{ 
    background: #e61919 !important;
    border-color: #bb0319;
}
.activo .toolbar-btn > li > a:hover, .activo .toolbar-btn > li > button:hover
{ 
    background: #bb0319 !important;
}
.activo .toolbar-btn > li > a:active
{ 
    border-color: #ff3535 !important;
}

.dp-header a, .dp-header button, .dp-header > h1, .dp-header >  span, .dp-header > h1, .dp-header > p
{    
    color:white;
}
.boton-pedido{
    background: rgb(240,240,240);
    color: gray;
    border: 1px solid rgba(190,190,190,0.6);
}
.boton-pedido:active, .boton-pedido:hover, .boton-pedido:link, .boton-pedido:visited, .boton-pedido:focus{
    background: rgb(236,236,236);
    color: rgb(80,80,80);
}

.dp-detalles{
    margin-top: 2em;
}
.dp-contenido-controles .input-producto
{
    width: 24em;
}
.dp-contenido-controles input[type="number"]
{
    width: 7em;
}
.bottom-box
{    
    -webkit-box-shadow: 0px 0px 4px rgb(100,100,100);
    -moz-box-shadow: 0px 0px 4px rgb(100,100,100);
    box-shadow: 0px 0px 4px rgb(100,100,100);
}
.sidenav-titulo-comedor
{
    height: 50px;
    z-index: 0 !important;
}
.sidenav-titulo-comedor
{
    background: rgb(250,250,250);
}
.sidenav-titulo-comedor ul.tabs li
{
    padding: 7px;
    float: left;
    width: 50%;
    height: 100%;
}
.sidenav-titulo-comedor ul.tabs li .indicador
{
    background: #c6291e;
    color: rgb(240,240,240);
}
.sidenav-titulo-comedor ul.tabs li.actual .indicador
{
    color: #c6291e !important;
    background: rgb(240,240,240) !important;
}
.sidenav-titulo-comedor ul.tabs li a
{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%)!important;
    -ms-transform: translateY(-50%)!important;
    transform: translateY(-50%)!important;
}
.sidenav-titulo-comedor ul.tabs li.actual
{
    background: #c6291e;
    color: white;
    margin: 0px;
    z-index: 0 !important;
}
.tabla-detalles tbody tr td
{
    vertical-align: middle;
    height: 2.8em;
}
.activo
{
    background: #e61919 !important;   
}

.dropdown-comentario
{
    left: -5em;
    top: 0em;
    width: 15em !important;
}

.lista-categorias{
    height: 100%;
    width: 100%;
    list-style: none;
}

.item-categoria{
    background: none !important;
    padding: 0.6em;
    margin: 0 0.5em !important;
}