::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgba(85,85,85,0.8);  
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(85,85,85,0.8); 
}

*{
    font-family: 'Open Sans', sans-serif;
}
/*Toolbar*/
.toolbar
{
    margin-bottom: 0;
    padding-left: 0;    
    background: rgb(252,252,252);
    height: 50px;
    z-index: 1 !important; 
}
.toolbar.toolbar-fixed{
    top: 0;  
    position: fixed;
    width: 100%;
}
.toolbar-contenido{
    height: 100%;
}
.toolbar-tools{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.toolbar-contenido .toolbar-tools-left{
    float: left;
}
.toolbar-contenido .toolbar-tools-right{
    float: right;
}
.toolbar.toolbar-tabs{
    height: 55px !important;
}
.toolbar.toolbar-tabs .tabs li{
    height: 55px !important;
    padding-top: 16px !important;
}
.toolbar.toolbar-tabs .tabs li a{    
    text-decoration: none !important;
    
    height: 100%;
}
.toolbar.toolbar-tabs .tabs li.actual{
    background: rgb(198,41,30) !important;
}
.toolbar.toolbar-tabs .tabs li.actual a{
    color: white;
}
.toolbar-brand{
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
    left: 0;
    font-size: 1.3em;
}
.toolbar-brand > a.centrado{
    text-decoration: none !important;
    display: inline;
    float: left;
    padding: 10px !important;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}

@media (min-width: 768px) {
    .toolbar-toggle {
        display: none !important;
    }
    .toolbar-contenido .toolbar-tools-left{
        display: inline !important;
    }
}
@media (max-width: 767px) {
    .toolbar-toggle-container .toolbar-toggle-content{
        float: left;
        display: block;
        position: absolute;
        height: auto;
        overflow-y: auto;
        top: 100%;
        background-color: #f9f9f9;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
    }
    .toolbar-toggle-container > .toolbar-toggle-content > .dropdown-content{        
        display: block;
        max-width: 100px;
        position: relative;
        text-align: left;
        height: 100%;
    }
    .toolbar-toggle-container > .toolbar-toggle-content li{
        text-align: left;
        cursor: pointer;
        width: 100% !important;
    }
    .toolbar-toggle-container > .toolbar-toggle-content li a{        
        width: 100% !important;
        top: 0 !important;
        -webkit-transform: none !important; /* Safari and Chrome */
        -moz-transform: none !important; /* Firefox */
        -ms-transform: none !important; /* IE 9 */
        -o-transform: none !important; /* Opera */
        transform: none !important;
    }
    .toolbar-toggle-container > .toolbar-toggle-content li a:hover{
        width: 100% !important;
    }
}
@media (max-width: 767px) {
    .minimizable {
        
    }
}

.toolbar-toggle-container{
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.toolbar-toggle-container > li{
    float: left;
    height: 100%;
}
.toolbar ul{
    list-style: none; 
}
.toolbar > ul{
    height: 100%;
    list-style: none; 
    display: inline;
}
.toolbar .toolbar-tools > li{
    float: left;
    height: 100%;
}

.toolbar .toolbar-tools > li > a, .toolbar .toolbar-tools > li > button, .toolbar .toolbar-tools > li > input{
    text-decoration: none;    
    float: left;
    padding: 7px 7px !important;
    text-align: center;
    position: relative;
    vertical-align: middle;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.toolbar .toolbar-tools-left > li > a > span{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.75em !important;
}
.toolbar .toolbar-tools-left > li > a > i{
    font-size: 1.3em !important;
}
.toolbar .toolbar-tools > .active > a
{
    background: rgb(198,41,30) !important;
    color: rgb(252,252,252);
}

.toolbar .toolbar-tools-left li a i, .toolbar .toolbar-tools-left li a span{
    display: block;
}
.toolbar .toolbar-tools > li > a > i{
    font-size: 1.3em !important;
    text-align: center;
}
/*Fin Toolbar*/


.md-body
{    
    height: 100%;
    width: 100%;
    overflow: auto;
}
.md-contenido{
    height: 100% !important;
    width: 100% !important;
    padding: 0px;
}
.md-sidenav{    
    width: 20%;
}
.layout-column
{
    display: flex;
    flex-direction: column;
}

.layout-row
{
    display: flex;
    flex-direction: row;
}

.float-left
{
    float: left !important;
}
.float-right
{
    float: right !important;
}

/*Sidenav*/


.sidenav
{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.sidenav-titulo
{
    height: 40px;
    background: rgb(198,41,30);
    text-align: center;
    z-index: 0 !important;
}
.sidenav-titulo *
{
    color: white;
    font-weight: normal;
}
.sidenav-titulo > h1, .sidenav-titulo > h2,  .sidenav-titulo > h3
{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
}
.sidenav-contenido
{    
    overflow-y: auto;
    height: 100%;
    background: rgb(249,249,249) !important;
}
.sidenav-contenido ul
{
    padding: 0;
    margin: 0;
}
.sidenav-contenido li
{
    margin: 0;
    margin-top: 0.2em;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: rgb(80,80,80);
}
.sidenav-contenido li a, .sidenav-contenido li h1, .sidenav-contenido li p, .sidenav-contenido li h2, .sidenav-contenido li span, .sidenav-contenido li strong, .sidenav-contenido li button
{
    color: white;
}

/*Fin Sidenav*/
.disable-select{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;    
    -ms-user-select: none !important;
    user-select: none !important;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: rgb(95,95,95);
  text-decoration: none; }
a:hover,
a:focus {
    color: rgb(125,125,125);
    text-decoration: underline; 
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; 
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; 
}

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777777; 
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px; 
}
h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
    font-size: 65%; 
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px; 
}
h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; 
}

h1, .h1 { font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

small,
.small {
  font-size: 85%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-primary {
  color: #337ab7; }

a.text-primary:hover,
a.text-primary:focus {
  color: #286090; }

.text-info {
  color: #327ad5; }

a.text-info:hover,
a.text-info:focus {
  color: #2462b0; }

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; 
}
.container:before,
.container:after {
    content: " ";
    display: table; 
}
.container:after {
    clear: both; 
}
@media (min-width: 768px) {
    .container {
        width: 750px; 
    } 
}
@media (min-width: 992px) {
    .container { width: 970px; } 
}
@media (min-width: 1200px) {
    .container { width: 1170px; } 
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; 
}
.container-fluid:before,
.container-fluid:after {
    content: " ";
    display: table; 
}
.container-fluid:after {
    clear: both; 
}

/*Controles de form*/
.control-input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c2cad8;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


/*boton-class*/
.boton-class {
  background: rgb(198,41,30);
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  color:white;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 2px;
}
.boton-class:focus,
.boton-class.focus,
.boton-class:active:focus,
.boton-class:active.focus,
.boton-class.active:focus,
.boton-class.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; 
}
.boton-class:hover,
.boton-class:focus,
.boton-class.focus {
    color: rgb(230,230,230);
    text-decoration: none; 
}
.boton-class:active,
.boton-class.active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); 
}

.block
{
    display: block !important;
}
.layout-1w {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.layout-1w, .layout-2w, layout-3w, layout-4w,layout-5w,layout-6w,layout-7w,layout-8w,layout-9w,layout-10w
  float: left; }

.layout-0-5w { width: 5%; }
.layout-1w { width: 10%; }
.layout-2w { width: 20%; }
.layout-2-5w { width: 25%; }
.layout-3w { width: 30%; }
.layout-3-5w { width: 35%; }
.layout-4w { width: 40%; }
.layout-4-5w { width: 45%; }
.layout-5w { width: 50%; }
.layout-6w { width: 60%; }
.layout-7w { width: 70%; }
.layout-7-5w { width: 75%; }
.layout-8w { width: 80%; }
.layout-8-5w { width: 85%; }
.layout-9w { width: 90%; }
.layout-9-5w { width: 95%; }
.layout-10w { width: 100%; }


.w1em { width: 1em; }
.w2em { width: 2em; }
.w3em { width: 3em; }
.w4em { width: 4em; }
.w5em { width: 5em; }
.w6em { width: 6em; }
.w7em { width: 7em; }
.w8em { width: 8em; }
.w9em { width: 9em; }
.w10em { width: 10em; }


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; 
}

.indicador {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 100%; 
}
.indicador:empty {
    display: none; 
}

.input-class {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.input-class:focus {
    border-color: rgb(0,150,255);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 161, 187, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 161, 187, 0.6); 
}
.tabla-clickeable tr{
    cursor: pointer;
}
.tabla-clickeable tbody tr:hover{
    outline: 1px solid rgba(198,41,30,0.4) !important;
    background: rgba(228,91,80,0.1) !important;
}
.tabla-clickeable .tr-clicked{
    border-left: 4px solid rgba(180,180,180,0.2) !important;
}
.tabla-class
{
    font-weight: normal;
    color:rgb(115,115,115);
    border-radius: 3px;
    padding: 0;
    -webkit-box-shadow: 0px 0px 2px rgb(160,160,160);
    -moz-box-shadow: 0px 0px 2px rgb(160,160,160);
    box-shadow: 0px 0px 2px rgb(160,160,160);
    border-collapse:collapse;
}
.tabla-class thead
{
    background: rgb(240,240,240);
}
.tabla-class tbody .detalle-total
{
    background: rgb(240,240,240) !important;
    font-weight: 600;
    font-size: 16px;
    padding-right: 2em;
}
.tabla-class thead .input-class,.tabla-class thead .boton-class
{
    margin: 0.5em 0;
    width: 95%;
}
.tabla-class th, .tabla-class tr{
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #e7ecf1; 
    font-weight: normal;
    font-size: 1.05em;
    vertical-align: middle;
    height: 2.8em;
}
.tabla-class tbody tr{
    background: white;
}
.tabla-class tbody tr td{
    padding: 0.4em;
    padding-left: 0.8em;
}
/*.tabla-class tbody tr:hover{
    background: rgba(136,221,119,0.6) !important;
}*/
.tabla-class > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e7ecf1; 
}
.tabla-class > tbody > tr:nth-of-type(even) {
  background: rgb(250,250,250);
}
.padding-1em{
    padding: 1em !important;
}
.padding-2em{
    padding: 2em !important;
}
.padding-3em{
    padding: 3em !important;
}
.hide
{
    display: none !important;
}
.alerta-box
{    
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    color: white;    
}
.alerta-box.error{
    background: rgb(255,82,82);
}
.alerta-box.info{    
    background: rgb(89,169,245);
}
.alerta-box.sucess{
    background: rgb(102,197,106);
}
.alerta-box.notif{    
    background: rgb(170,170,170);
}
.alerta-box .icono, .alerta-box .contenido, .alerta-box .cerrar, .alerta-box .cerrar-btn
{
    margin: 0px;
    padding: 12px;    
    padding-top: 6px;  
    padding-bottom: 6px;    
}
.alerta-box .icono, .alerta-box .cerrar, .alerta-box .cerrar-btn{
    text-align: center;
    background: rgba(90,90,90,0.2);
}
.alerta-box .icono
{    
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.alerta-box .cerrar, .alerta-box .cerrar-btn{
    position: absolute;
    right: 0;
    height: 100%;
    font-weight: bold;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 1.5em;
}
.alerta-box .cerrar span, .alerta-box .cerrar-btn span{
    position: absolute;
    right: 0.25em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0px;
    padding: 0px;
}
input.ng-dirty.ng-invalid{
    border: 1px solid rgba(250,0,0,0.7) !important;
    box-shadow: inset 0px 0px 3px rgba(250,0,0,0.5) !important;
}


.activo
{
    background: #88dd77;
}

.no-padding{
    padding: 0px !important;
}

/*Mostrar por tamaños*/
@media (max-width: 320px) {
    .hide-xs {
        display: none !important; 
    }
    .show-xs {
        display: inherit!important; 
    }
}
@media (max-width: 544px) {
    .hide-sm {
        display: none !important; 
    }
    .show-sm {
        display: inherit!important; 
    }
}
@media (max-width: 768px) {
    .hide-md {
        display: none !important; 
    }
    .show-md {
        display: inherit!important; 
    }
}



/*DropDown*/

.dropup,
.dropdown {
  position: relative; 
    margin: 0px !important;
    padding: 0px !important;
}

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 95%;
  left: 0/*rtl:auto*/;
  z-index: 999;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0 !important;
  margin: 2px 0 0 !important;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; 
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto; 
}
.dropdown-menu .divider {
    height: 1px;
    margin: 3px 0;
    overflow: hidden;
    background-color: #e5e5e5; 
}
.dropdown-menu > li > a {
    display: block;
    padding: 8px 20px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; 
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626 !important;
  background-color: #e1e5ec !important;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; 
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777; 
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; 
}

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; 
}

.dropdown-menu-right {
  left: auto;
  right: 0; 
}

.dropdown-menu-left {
  left: 0;
  right: auto; 
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #777777;
  white-space: nowrap; 
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; 
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; 
}
/*Fin DropDown*/

/*Notif dropdown*/

.alert-dropdown-menu {
  height: 250px;
  max-height: 250px;
  width: 200px;
  min-width: 200px;
  overflow-y: auto;
  left: -70px;
}
.alert-dropdown-menu.pull-right {
    right: 0;
    left: auto; 
}
.alert-dropdown-menu .divider {
    height: 1px;
    margin: 3px 0;
    overflow: hidden;
    background-color: #e5e5e5; 
}
.alert-dropdown-menu > li > a {
    display: block;
    padding: 8px 20px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; 
}

.alert-dropdown-menu > li > a:hover,
.alert-dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626 !important;
  background-color: #e1e5ec !important;
}

.alert-dropdown-menu > .active > a,
.alert-dropdown-menu > .active > a:hover,
.alert-dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; 
}

.open > .alert-dropdown-menu {
  display: block; }

.open > a {
  outline: 0; 
}

.alert-dropdown-menu-right {
  left: auto;
  right: 0; 
}

.alert-dropdown-menu-left {
  left: 0;
  right: auto; 
}
/*FIN NOTIF DROPDOWN*/

/*TABS*/
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    margin: 0px;
    cursor: pointer;
}

ul.tabs li.actual{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
}

.tab-content.actual{
    display: inherit;
}
/*FIN TABS*/

/*DIALOG*/
.ngdialog.dialog-full{
    position: fixed;
    padding: 0px !important;
    margin: 0px !important;
    height: 100% !important;
    width: 100% !important;
    margin: 0 auto;
}
.ngdialog.dialog-full .ngdialog-content{    
    padding: 0px !important;
    
    width: 100%;
    height: 80%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dialog-class{
    display: block;
    position: relative;
    margin: 0px !important;
    height: 100% !important; 
    overflow: hidden;
}

.dialog-class .dialog-contenido{
    padding: 1.5em;
    height: calc(100% - 50px);
    background: white;
    overflow-y: auto;
}
.dialog-class .md-body{
    position: relative !important;
    display: inline!important;
    height: 100%;
}
.dialog-class .dialog-detalles-nivel{    
    display: block;
    position: relative;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5em;
}
.dialog-class .dialog-contenido .md-sidenav, .dialog-class .sidenav{
    position: relative !important;
    display: inline!important;
    height: 100%;
}
.dialog-class .sidenav-contenido{
    position: relative;
    display: block;
    height: calc(100% - 50px) !important;
    overflow-y: auto;
}
.dialog-class .sidenav-contenido .tabs, .sidenav-contenido .side-menu{
    height: 100% !important;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.dialog-class .sidenav-contenido ul li{   
    background: none;
    display: block;
    position: relative;   
    width: 100% !important;
    margin: 0px !important;
    padding: 0px;
}
.dialog-class .sidenav-contenido ul li:hover, .dialog-class .sidenav-contenido ul li:active{
    background: none;
    display: block;
    position: relative;    
}
.dialog-class .sidenav-contenido ul li a{
    margin: 0px !important;
    color: rgb(90,90,90);
    text-decoration: none;
    width: 100% !important;
    position: relative;
    display: inline-block;
    padding: 10px !important;
}
.dialog-class .sidenav-contenido ul .sub-menu li a{
    margin: 0px !important;
    color: rgb(90,90,90);
    text-decoration: none;
    width: 100% !important;
    position: relative;
    display: inline-block;
    padding: 10px !important;
    font-weight: 500;
    border-bottom: 1px solid rgba(120,120,120,0.4) !important;
}
.dialog-class .sidenav-contenido ul .item-desplegable {
    margin: 0px !important;  
}
.dialog-class .sidenav-contenido ul .item-desplegable > a{
    color: rgb(80,80,80);
    font-size: 1.3em;
    margin: 0px !important;
}
.dialog-class .sidenav-contenido .side-menu .actual a{
    background: rgb(25,92,174)!important;
    color: white !important;
}
.dialog-class .sidenav-contenido .side-menu .sub-menu{
    padding-left: 10px !important;
}

.dialog-class .sidenav-titulo{
    height: 50px;
    background: rgb(25,92,174)!important;
}
.dialog-class .dialog-titulo{
     background: rgb(30,110,198) !important;
}
.dialog-class .dialog-titulo a{
     color: rgb(250,250,250);
}
.dialog-class .dialog-botones{
    height: 50px;
    padding: 0 0.7em;
    display: block;    
    text-align: right;
}
.dialog-class .dialog-botones button{    
    border: 0;
    background: none;
    box-shadow:none;
    border-radius: 0px;
    padding: 10px;
    background: rgb(225,225,225) !important;
    color: rgb(70,70,70) !important;
}
.dialog-class .dialog-botones button:disabled{
    background: rgb(195,195,195) !important;
    color: rgb(70,70,70) !important;
}
.encabezado-pago > label{
    display: block;
    color:rgb(90,90,90);
    margin-bottom: 0.5em;
    font-weight: 600;
}
.encabezado-pago > label > span{
    font-weight: 800;
}
/*FIN DIALOG*/

.paginador{
    clear: both;
    padding: 0px;
    margin: 0px !important;    
}
.side-box{
    position: absolute;
    height: 100% !important;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(20,20,20,0.3);
    z-index: 9;
}
.side-box-content{
    left: 0;
    position: absolute;
}
.side-box-content-right{
    right: 0;
    position: absolute;
}
.side-box-body{
    height: 100%;
    background: white;
}
.side-box-header{
    color: white !important;
    background: #1e6ed0 !important;
}
.toolbar-nuevo{
    color: white !important;
    background: #1e6ed0 !important;
}
.side-box-header a{
    color: white !important;
}

.side-box-header a{
    color: white !important;
}
.side-box-detalles{
    padding: 1.5em !important;
}
.side-box-detalles input{
    margin-bottom: 1em !important;
}
.side-box-detalles input, .nm-detalles label, .nm-detalles .nm-botones{
    display: block;
    margin-bottom: 10px !important;
}
.side-box-detalles .side-box-botones{
    margin: 5px !important;
    margin-top: 1em !important;
}
.side-box-detalles button{
    display: inline !important;
    float: left !important;
    width: 48%;
    margin: 0.5%;
    text-align: center !important;
    background: rgb(225,225,225) !important;
    color: rgb(90,90,90);
}
.side-box-detalles button:hover{
    color: rgb(70,70,70);
}