.tooltip {
  display: none;
  position: absolute;
  background-color: #222;
  padding: 7px 10px;
  max-width: 250px;
  color: #fff;
  font-size: 0.8em;
  z-index: 9999;
}

.tooltip-show {
  display: inherit;
}

.tooltip-arrow {
  position: absolute;
	width: 0;
	height: 0; 
}

.tooltip-abajo .tooltip-arrow {
  top: -5px;
  left: 50%;
  margin-left: -5px;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid #222;
}

.tooltip-arriba .tooltip-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  	border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #222;
}

.tooltip-derecha .tooltip-arrow {
  left: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-right: 5px solid #222;
}

.tooltip-izquierda .tooltip-arrow {
  right: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid #222;
}


/*DropDown*/
.dropdownac, .dropdownac-ac{
    position: relative;
    display: inline-block;
}

.dropdownac-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px;
    z-index: 1;
    overflow-y: auto;
    list-style-type: none;
}
.dropdownac-content li{
	padding: 5px 10px;
	height:30px;
	cursor: pointer;
    width: 100%;
}
.dropdownac-content li:active,
.dropdownac-content li.active {
	color: #FFFFFF;
	background: #337ab7;
}
/*ToolBar
.toolbar
{
    
}
.toolbar .toolbar-brand
{
    height: 100%;
}
.toolbar .toolbar-left
{
    float: left;
}
.toolbar .toolbar-right
{
    float: right;
}
FIN TOOLBAR */

/*DSSTEPER*/
.dssteper-class{    
    display: flex;
    height: 2em;
    width: auto;
    flex-direction: row;
    float: left;
}
.dssteper-valor{  
    color: rgb(90,90,90);
    text-align: center;
    width: 2em;
    border: 1px solid rgb(20,100,178);
    /*border: 1px solid rgba(0,0,0,0);
    outline: 1px solid rgb(20,100,178);*/
}
.ng-invalid-dsstep .dssteper-valor{
    border: 1px solid rgba(250,0,0,0.7) !important;
    box-shadow: inset 0px 0px 3px rgba(250,0,0,0.5) !important;
}
.dssteper-btn , .dssteper-valor{    
    padding: 3px 0px;
    margin: 0px;
    height: 100%;
    vertical-align: middle;
}
.dssteper-btn{
    background: rgb(30,110,198) !important;
    width: 2em;
    outline: 1px solid rgb(20,100,178);
    border-radius: 0px !important;
}
.dssteper-class:after{    
    clear: both;
}
/*FIN DSSTEPER*/

/*Paginador*/
.dspaginador{
    display: block;   
    position: relative;
    margin: 0;
}
.item-paginador{
    float: left;
    display: block;
    border: none;
    background: rgb(250,250,250);
    color: rgb(90,90,90);
    outline: 1px solid rgb(200,200,200);
    padding: 0.5em;
    margin: 0 !important;
    width: 2.5em !important; 
    text-align: center !important;
    text-decoration: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;    
    -ms-user-select: none !important;
    user-select: none !important;
}
.item-paginador:hover{
    cursor: pointer;
    outline: 1px solid rgb(200,200,200);
    background: rgb(235,235,235);
    color: rgb(60,60,60);
}
.item-paginador-activo{
    background: rgb(30,110,198) !important;
    color: white;
}
.item-paginador-activo:hover, .item-paginador-activo:active{
    color: white;
}
.dspaginador:after{    
    content: '';
    display: block;
    clear: both;
}
/*FIN PAGINADOR*/