
.page-content{
    margin: 0px !important;
    padding: 0px !important;    
}

/*Navbar top*/
html, body {
    width: 100% !important;
    height: 100% !important;
}


/*Estilos componentes*/
.layout-options{
   position:fixed;
   left:0px;
   bottom:0px;
   height:50%;
   width:100%;
   background:#999;
}
.menubar-form{
    height: 4em !important;
    padding: 6px !important;
}
.menubar-form-info, .menubar-form-actions{
    
}
.menubar-form h1{
    font-size: 1.5em;
    margin: 2px;
}
.menubar-form h2{
    font-size: 1.2em;
    margin: 2px;
}
.menubar-form-info{
    float: left;
    height: 100%;
}
.menubar-form-actions{    
    height: 100%;    
}
.moveto-right{
    text-align: right;
    float: right;
    margin-right: 4em !important;
    background: red;
}

.form-action a{    
    font-size: 1.3em;
    text-align: center;
}
/*Fin estilos componentes*/

/*Personalizacion*/
.toolbar-sitio{    
    border-bottom: 5px solid #c6291e !important;
}
.toolbar-sitio .toolbar-tools > li:hover{
    background: rgb(235,235,235);
}

/*Spin de carga*/
.hide{
    display: none;
}
.spinner {
    width:50px;
    height:50px;
    position:relative;
    left:50%;
    top:50%;
    margin:-25px 0 0 -25px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #c6291e;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*FIN SPIN DE CARGA*/

.badge{
    background: #c6291e !important;
}
.indicador-boton
{
    position: absolute;
    top: -5px;
    left: 80%;
    margin: 0px;
    font-size: 1.1em;
    background: #292929 !important;
}
.acciones-rt
{
    float: right;
}
.boton-accion-nuevo{
    display:block;
    position: absolute;
    right: 0;
    border-radius: 100%;
    height: 3.4em;
    width: 3.4em;
    margin: 1em;
    padding: 1em 1.2em;
    font-size: 1.2em;
    font-weight: normal;
    border: none;
    outline: none;    
    background: #1e6ed0 !important;
    -webkit-box-shadow: 1px 1px 5px #031427;
    -o-box-shadow: 1px 1px 5px #031427;
    -moz-box-shadow: 1px 1px 5px #031427;
    box-shadow: 1px 1px 5px #031427;
    z-index: 1;
}
.boton-accion-popup{
    border-radius: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.boton-accion-nuevo > a{
    color: white;
    border-radius: 100%;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;
    text-align: center;
}
.toolbar-btn
{
    vertical-align: middle;
}
.toolbar-btn li
{
    color: white;
    margin-right: 0.5em;
    vertical-align: middle;
}

.toolbar-btn li label
{
    font-size: 1em;
}

.toolbar-btn li a, .toolbar-btn li button
{ 
    width: 100% !important;
    padding: 0.8em !important;
    background: transparent;
    border-color: rgba(70,70,70,0.3);
}

.toolbar-btn li a, .toolbar-btn li button
{ 
    width: 100% !important;
    padding: 0.8em !important;
}
.toolbar-btn li .boton-class
{    
    font-size: 0.8em;
    font-weight: normal;
}
.toolbar-btn li a[href=""]
{ 
    cursor: default !important;
}
.toolbar-btn li a[href=""]:hover , .toolbar-btn li a[href=""]:active, .toolbar-btn li button:hover
{ 
    background: none !important;
}
.toolbar-btn li a:hover, .toolbar-btn li button:hover
{ 
    background: rgba(60,60,60,0.35) !important;
}
.toolbar-btn button:disabled
{ 
    background: rgba(80,80,80,0.2) !important;
    color: rgb(200,200,200);
}
.toolbar-btn li a:active
{ 
    background: rgba(60,60,60,0.35) !important;
}

.boton-gris{
    background: rgb(240,240,240);
    color: gray;
    border: 1px solid rgba(190,190,190,0.6);
}
.boton-gris:active, .boton-gris:hover, .boton-gris:link, .boton-gris:visited, .boton-gris:focus{
    background: rgb(236,236,236);
    color: rgb(80,80,80);
    cursor: pointer;
}


/*Estados Pedidos*/
.preparando{
    /*background: rgba(255,80,80,0.02) !important;*/
    border-left: 10px solid rgb(255,80,80);
}
.entregado{
    /*background: rgba(80,120,255,0.02) !important;*/
    border-left: 10px solid rgb(80,120,255);
}
.pagado{
    background: rgba(255,80,80,0.12) !important;
    border-left: 10px solid rgb(255,80,80);
}
.listo{    
    /*background: rgba(90,220,90,0.03) !important;*/
    border-left: 10px solid rgb(90,220,90);
}
.en-espera{
    background: rgb(198,41,30) !important;
    color: rgb(252,252,252);
    font-weight: 600;
    cursor: pointer;
}
.detalle-comentario{
    padding-left: 3em !important; 
    font-style: italic;
}