html,body {
    height: 100%;
    width: 100%;
}
.contenedor
{
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54585e+15,171717+96 */
    background: rgb(84,88,94); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(84,88,94,1) 15%, rgba(23,23,23,1) 96%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(84,88,94,1) 15%,rgba(23,23,23,1) 96%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(84,88,94,1) 15%,rgba(23,23,23,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54585e', endColorstr='#171717',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    overflow: auto;
}
.login-box
{
    background: transparent;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.logotipo
{
    margin: 0 auto;    
    text-align: center;    
}
.form-acceder {
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}
.form-acceder .form-acceder-heading,
.form-acceder .checkbox {
    margin-top: 10px;
    font-size: 90%;
    color: white;
}
.form-acceder .checkbox {
    font-weight: normal;
}
.form-acceder .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-acceder label{
    color: rgb(250,250,250) !important;
    font-weight: 500;
    padding-top: 2em !important;
    margin-top: 2em !important;
    text-shadow: 1px 1px rgb(50,50,50);
}
.form-acceder .form-control:focus {
  z-index: 2;
}
.form-acceder input[type="text"], .form-acceder input[type="email"], .form-acceder input[type="password"]
{    
    border: none;
    width: 100%;
}
.form-acceder input[type="text"] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid rgb(200,200,200);
}
.form-acceder input[type="password"] {  
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.form-acceder button[type="submit"] {
    margin-top: 10px;
    border: none;
    width: 100%;
    height: 3em;
    -webkit-box-shadow: 0px 0px 4px #e65146;
    -moz-box-shadow: 0px 0px 4px #e65146;
    box-shadow: 0px 0px 4px #e65146;
}
