.detalles-productos, .detalles-usuarios{
    position: relative;
    z-index: 0;
}
.content-productos{
    padding: 2em;
    overflow: auto;
}
.toolbar-tabs .tabs li{
    padding: 13px 0px;
}
.toolbar-tabs .tabs li a{
    padding: 14px 15px;
}
.boton-accion-nuevo{
    right: 2em !important;
}