<div class="page-wrapper layout-row">    
    <div class="md-body md-body-comedor" data-ng-class="{'layout-column': (getTipo() == 1), 'layout-row': (getTipo() == 2)}">
        <div class="md-contenido seccion-mesas">
            <a href="#/comedor/nueva/mesa" tooltip="Nueva Mesa" class="boton-class boton-accion-nuevo"><i class="fa fa-plus"></i></a>
            <a data-ng-class="{'activo': (Mesa.EstadoPedido == 1)}" href="{{Mesa['Mesa_id']? '#/comedor/mesa/'+Mesa['Mesa_id']:''}}" class="layout-1w item-mesa" data-ng-repeat="Mesa in Mesas">
                <div class="indicador indicador-boton" ng-hide="(Mesa.EstadoPedido != 1)">{{Mesa.Comensales}}</div>
                {{Mesa.Nombre}}
            </a>            
        </div>
        <div class="md-contenido bottom-box" data-ng-if="(getTipo() == 1)" ui-view data-ng-show="getMostrar()"></div>
        <div class="md-contenido side-box" data-ng-if="(getTipo() == 2)" ui-view data-ng-show="getMostrar()"></div>
    </div>
    <div class="md-sidenav sidenav layout-column hide-md">
            <div class="toolbar sidenav-titulo-comedor">
                <ul class="tabs">
                    <li class="tab-link actual" data-tab="tab-1"><a>Listos&nbsp;<span class="indicador">{{ordenes.length}}</span></a></li>
                    <li class="tab-link" data-tab="tab-2"><a>Bebidas&nbsp;<span class="indicador">{{bebidas.length}}</span></a></li>
                </ul>
            </div>
            <div class="sidenav-contenido">
                <div id="tab-1" class="tab-content actual">
                    <ul class="lista-noticia-orden">
                        <li data-ng-repeat="orden in ordenes | orderBy:'+hora'">
                            <div data-ng-repeat="detalle in orden.Pedidos"  class="noticia-orden">
                               <ul class="noticia-orden-detalles">
                                   <strong>{{orden.Mesa_id}}</strong>
                                   <li>{{detalle.Nombre}}</li>
                                   <li><strong>Cantidad:</strong>{{detalle.Cantidad}}</li>
                                   <li data-ng-if="detalle.Comentario"><strong>Comentario:</strong> {{detalle.Comentario}}</li>
                               </ul>
                               <button tooltip="Confirmar Entrega" tooltip-lado="izquierda" ng-click="cambiarEstado(detalle.Detalle_id,4,1)" class="noticia-orden-acciones boton-class"><i class="fa fa-check"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="tab-2" class="tab-content">
                     <ul class="lista-noticia-orden">
                        <li data-ng-repeat="Pedido in bebidas">
                            <div data-ng-repeat="detalle in Pedido.Pedidos"  class="noticia-orden">
                               <ul class="noticia-orden-detalles">
                                   <li><strong>Producto:</strong><br>{{detalle.Nombre}}</li>
                                   <li><strong>Cantidad:</strong>{{detalle.Cantidad}}</li>
                                   <li data-ng-if="detalle.Comentario"><strong>Comentario:</strong> {{detalle.Comentario}}</li>
                               </ul>
                               <button tooltip="Preparado" tooltip-lado="izquierda" ng-click="cambiarEstado(detalle.Detalle_id,3,2)" class="noticia-orden-acciones boton-class"><i class="fa fa-check"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>
<script src="assets/app/js/page-wrapper.js" type="text/javascript"></script>
<script src="assets/app/js/bottom-box.js" type="text/javascript"></script>
    
    