
<form class="dialog-class" name="formpp">
    <div class="dialog-contenido no-padding layout-row">
        <div class="md-body layout-column">
            <div class="toolbar dialog-titulo">
                <div class="toolbar-contenido">
                    <div class="toolbar-brand">
                        <a class="centrado"><strong>Cobro Total</strong></a>
                    </div>
                    <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                        <li class="hide-xs"><a data-ng-click="closeThisDialog(0)" class="boton-class cerrar-dialog"><i class="fa fa-times"></i></a>
                        </li>                    
                    </ul>
                </div>
                
            </div>
            
            <div class="dialog-contenido">
                    <div class="encabezado-pago">
                        <label>Total Consumido: <span>{{TotalConsumido}}</span></label>
                        <label>Total Pagado: <span>{{TotalPagado}}</span></label>
                        <label>Saldo: <span>{{TotalConsumido - TotalPagado}}</span></label>
                    </div>
                    <table class="tabla-class layout-10w disable-select tabla-clickeable">
                            <thead>
                                <tr>
                                  <th class="layout-4w">Producto&nbsp;</th>
                                  <th class="layout-2w">Precio&nbsp;</th>
                                  <th class="layout-2w">Consumido&nbsp;</th>
                                  <th class="layout-2w">Pagado&nbsp;</th>
                                </tr>                        
                            </thead>
                            <tbody>
                                <tr ng-repeat="pedido in pedidos.Pedidos |orderBy:['-noPagados']" data-ng-class="{'pagado': (pedido.Cantidad == (pedido.Cantidad-pedido.noPagados))}" ng-click="agregarDetalle(pedido, 1,$event)">
                                    <td>
                                       {{pedido.Producto}}
                                    </td>
                                    <td align="center">
                                       {{pedido.Producto_precio}}
                                    </td>
                                    <td align="center">
                                       {{pedido.Cantidad}}
                                    </td>
                                    <td align="center">
                                       {{pedido.Cantidad-pedido.noPagados}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                </div>
        </div>
    </div>
    <div class="dialog-botones">
        <button type="submit" ng-disabled="formpp.$invalid" class="boton-class boton-pedido" data-ng-click="confirm(listaDetalles)">Confirmar</button>                   
        <button type="button" class="boton-class boton-pedido" data-ng-click="closeThisDialog(0)">Cancelar</button>   
    </div>
</form>

