<div class="dialog-class">
    <div class="toolbar dialog-titulo">
        <div class="toolbar-contenido">
            <div class="toolbar-brand">
                <a class="centrado"><strong>{{Titulo}}</strong></a>
            </div>
            <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                <li tooltip="Cerrar" tooltip-lado="izquierda"><a data-ng-click="closeThisDialog(0)" class="boton-class cerrar-dialog"><i class="fa fa-times"></i></a>
                </li>                    
            </ul>
        </div>        
    </div>
    <div class="dialog-contenido">
        <p>{{Descripcion}}</p>
    </div>
    <div class="dialog-botones">
        <button type="submit" class="boton-class boton-pedido" data-ng-click="confirm(true)">Confirmar</button>                   
        <button type="button" class="boton-class boton-pedido" data-ng-click="closeThisDialog(0)">Cancelar</button>   
    </div>
</div>