
<div class="dialog-class">
    <div class="dialog-contenido no-padding layout-row">
        <div class="md-sidenav sidenav layout-column layout-3w">
            <div class="toolbar sidenav-titulo">
                <div class="toolbar-contenido">
                    <div class="toolbar-brand">
                        <a class="centrado"><strong>Categoría</strong></a>
                    </div>
                </div>
            </div>
            <div class="sidenav-contenido layout-row">
                <!--<ul class="tabs layout-column">
                    <li data-ng-repeat="categoria in categorias" class="tab-link item-categoria" data-tab="tabcategoria-{{categoria.Categoria_id}}" ng-click="buscarCategoria(categoria.Categoria_id)">
                       <a>{{categoria.Nombre}}</a>
                    </li>
                </ul>-->
                <ul class="side-menu layout-column">
                    <li data-ng-class="{'active': ($first && linkActivo == true)}" class="item-desplegable" ng-repeat="padreCategoria in categorias" data-ng-include src="'arbolCategorias'" data-ng-init="categoria=padreCategoria">                        
                    </li>
                </ul>
            </div>
        </div>
        <div class="md-body layout-column">
            <div class="toolbar dialog-titulo">
                <div class="toolbar-contenido">
                    <div class="toolbar-brand">
                        <a class="centrado"><strong>Productos</strong></a>
                    </div>
                    <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                        <li class="hide-xs" tooltip="Cerrar" tooltip-lado="izquierda"><a data-ng-click="closeThisDialog(0)" class="boton-class cerrar-dialog"><i class="fa fa-times"></i></a>
                        </li>                    
                    </ul>
                </div>
            </div>
            <div class="dialog-detalles-nivel">
              <div class="dialog-detalles-n1" data-ng-repeat="categoria in categorias">
                  <div data-ng-repeat="categoriah in categoria.Hijos" id="tabcategoria-{{categoriah.Categoria_id}}" class="tab-content">
                          <!--<dspaginador ng-hide="itemXpag < productosCategoria.length" class="paginador" pagina="pagina" paginas="paginas"></dspaginador>-->
                          <table class="tabla-class layout-10w disable-select tabla-clickeable">
                            <thead>
                                <tr>
                                  <th class="layout-4w" ng-click="orderByitem='Nombre';reverse = !reverse">Producto&nbsp;
                                      <i class="fa fa-sort" ng-if="orderByitem != 'Nombre'"></i>
                                      <i class="fa fa-sort-desc" ng-if="reverse == true && orderByitem == 'Nombre'"></i>
                                      <i class="fa fa-sort-asc" ng-if="reverse == false && orderByitem == 'Nombre'"></i>
                                  </th>
                                  <th class="layout-2w" ng-click="orderByitem='Precio';reverse = !reverse">Precio&nbsp;
                                      <i class="fa fa-sort" ng-if="orderByitem != 'Precio'"></i>
                                      <i class="fa fa-sort-desc" ng-if="reverse == true && orderByitem == 'Precio'"></i>
                                      <i class="fa fa-sort-asc" ng-if="reverse == false && orderByitem == 'Precio'"></i>
                                  </th>
                                  <th class="layout-4w" ></th>
                                </tr>                        
                            </thead>
                            <tbody>
                                <tr ng-repeat="producto in productosCategoria | orderBy:orderByitem:reverse" ng-click="agregarProducto(producto, 1,$event)">
                                    <td>
                                       {{producto.Nombre}}
                                    </td>
                                    <td align="center">
                                       {{producto.Precio}}
                                    </td>
                                    <td align="center">	
                                        <dssteper ng-hide="!existe(producto.Producto_id)" min="1" icon-Menos="fa fa-minus" icon-Mas="fa fa-plus" ng-model="productoAgregado(producto.Producto_id).Cantidad" style="clear:both;"></dssteper>

                                        <button ng-hide="!existe(producto.Producto_id)" data-ng-click="quitarProducto(producto.Producto_id)" type="button" class="boton-class"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!--<dspaginador class="paginador" pagina="pagina" paginas="paginas"></dspaginador>-->
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="dialog-botones">
        <button type="submit" class="boton-class boton-pedido" data-ng-click="confirm(listaProductos)">Confirmar</button>                   
        <button type="button" class="boton-class boton-pedido" data-ng-click="closeThisDialog(0)">Cancelar</button>   
    </div>
</div>


<script type="text/ng-template" id="arbolCategorias">
     <a>{{categoria.Nombre}}</a>
     <ul class="tabs sub-menu" data-ng-if="categoria.Hijos.length > 0">
        <li ng-click="buscarCategoria(categoria.Categoria_id)" class="tab-link item-categoria" data-tab="tabcategoria-{{categoria.Categoria_id}}" data-ng-class="{'item-desplegable': (categoria.Hijos.length > 0)}" data-ng-repeat="categoria in categoria.Hijos" data-ng-include="'arbolCategorias'"></li>
     </ul>
</script>