<div class="dialog-class">
    <div class="toolbar dialog-titulo">
        <div class="toolbar-contenido">
            <div class="toolbar-brand">
                <a class="centrado"><strong>Cambiar Mesa</strong></a>
            </div>
            <ul class="toolbar-tools toolbar-tools-right toolbar-btn">
                <li tooltip="Cerrar" tooltip-lado="izquierda"><a data-ng-click="closeThisDialog(0)" class="boton-class cerrar-dialog"><i class="fa fa-times"></i></a>
                </li>                    
            </ul>
        </div>        
    </div>
    <div class="dialog-contenido">
        <p>Cambiar el pedido de la mesa {{Mesa.Nombre}} a la mesa:</p>
        <select ng-model="Mesa_" class="input-class">
            <option value="0">-Seleccione una mesa-</option>
            <option ng-repeat="itm_mesa in Mesas | filter:{EstadoPedido:'!'}" value="{{itm_mesa.Mesa_id}}">
                {{itm_mesa.Nombre}}
            </option>              
        </select>
        <!--<input data-ng-model="pedido.Comentario" type="text" class="input-class" id="producto" placeholder="Escriba el comentario">-->
    </div>
    <div class="dialog-botones">
        <button type="submit" class="boton-class boton-pedido" data-ng-click="confirm(Mesa_)">Confirmar</button>                   
        <button type="button" class="boton-class boton-pedido" data-ng-click="closeThisDialog(0)">Cancelar</button>   
    </div>
</div>